<h3>장르</h3>
<div class="grid grid-pad">
  <a *ngFor="let genre of genres" class="col-1-4" routerLink="/bands/{{genre}}">
    <div class="module band">
      <h4>{{genre}}</h4>
    </div>
  </a>
</div>
