<div *ngIf="band">

  <h2>{{band.name | uppercase}} Details</h2>
  <div><span>밴드: </span>{{band.name}}</div>
  <div><span>장르: </span>{{band.genre}}</div>
  <div><span>날짜: </span>{{band.day | date: 'yyyy년 MM월 dd일 HH:mm'}}</div>
  <div><span>가격: </span>{{band.price}} 원</div>
  <button (click)="goBack()">go back</button>
</div>
