<h3>Top Bands</h3>
<div class="grid grid-pad">
  <a *ngFor="let band of bands" class="col-1-4" routerLink="/band/{{band.id}}">
    <div class="module band">
      <h4>{{band.name}}</h4>
    </div>
  </a>
</div>
