<h1>{{title}}</h1>
<nav>
  <a routerLink="/main">Main</a>
  <a routerLink="/bands">Bands</a>
  <a routerLink="/genre">Genre</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-bands></app-bands> -->
