<h2>밴드 목록</h2>
<ul class="bands">
  <li *ngFor="let band of bands">
    <a routerLink="/band/{{band.id}}">
      <span class="badge">{{band.id}}</span> {{band.name}}
    </a>
  </li>
</ul>

<app-band-detail [band]="selectedBand"></app-band-detail>
